# Python cache and local environments
__pycache__/
*.py[cod]
*.pyd
.venv/

# PyInstaller output
build/
dist/
*.exe
!assets/iperf3/
!assets/iperf3/iperf3.exe
!assets/iperf3/cygwin1.dll

# Local app data
saved_wol_devices.json
mk.txt

# Editor and OS files
.vscode/
.idea/
*.log
Thumbs.db
Desktop.ini
